* html{
    margin: 0;
    padding: 0;
    overflow: hidden;
    
} 

body {
    background-color: hsl(226, 43%, 10%);
    color: white;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: max-content;
    gap: 1.5rem;
    height: max-content;
    max-width: 87%;
    margin: 4rem 0.1rem 0.1rem 9rem;
    /* border: 1px solid red; */

}

.jere {
    grid-row: 1 / 3;
    width: 17rem;
    border-radius: 1rem;
    background-color: hsl(235, 46%, 20%);
}

.jererob {
    width: 17rem;
    height: 25rem;
    background-color: hsl(228, 45%, 44%);
    border-radius: 1rem
   
 }

.jerepix {
    width: 6rem;
    height: 6rem;
    border: 0.2rem solid white;
    border-radius: 50%;
    margin:  2.7rem 0 0 2rem;
    
}

h1{
    margin-top: -2.5rem;
    font-size: 3rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    padding-left: 2rem;
}

.rep {
    color: hsl(235, 76%, 84%);
    padding: 1.2rem 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'IBM Plex Sans', sans-serif;
}

.tex{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.tex button{
    background-color: transparent;
    border: transparent;
    padding-left: 2.5rem;
    line-height: 2.2rem;
    font-size: 1.1rem;
    font-family: system-oboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: hsl(235, 45%, 61%);

}

.tracker-option:is(:hover, .active){
    color: white;
    cursor: pointer;
}

.frame-act {  
    width: 17rem;
    height: 15.4rem;
    border-radius: 1rem;
    background-color: hsl(15, 100%, 70%);
}

.frame-act.play {
    background-color: hsl(195, 74%, 62%);
}

.frame-act.study {
    background-color: hsl(348, 100%, 68%);
}

.frame-act.social {
    background-color: hsl(264, 64%, 52%);
}

.frame-act.exercise{
    background-color: hsl(145, 58%, 55%);
}

.frame-act.self-care{
    background-color: hsl(43, 84%, 65%);
}

.activity_info{
    position: relative;
    max-width: 17rem;
    height: 11.9rem;
    border-radius: 1rem;
    margin-top: -1.7rem;
    background-color: hsl(235, 46%, 20%);
}

.icon {
    z-index: 1;
    width: 5rem;
    height: 5rem;
    padding-left: 11.2rem;

}

h2 {
    padding-left: 1.2rem;

}

.ellipsis {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sv {
    padding: 2rem 1.3rem 0 0;
    cursor: pointer;
    fill: white;
    
}

.activity_timeframes {
    font-size: 1.5rem;
    margin-left: 1.3rem;
}

.hours {
    font-size: 3.3rem;
    font-family: sans-serif;
    font-family: 'Rubik', sans-serif;
}

.previoustime {
    display: flex;
    margin-top: 0.5rem;;
}

.previous, .time {
    margin: 0.1rem 0.1rem;
    color: rgb(223, 220, 220);
    font-size: 1.3rem;
    font-family: 'Rubik', sans-serif
}

.attribution {
    position: absolute;
    bottom: 1.5rem;
    margin-left: 0.2rem;
    
}

.attribution a {
    text-decoration: none;
    color: gray;
}

@media screen and (max-width: 500px) {
    .container {
        height: max-content;
        max-width: 80%;
        margin: auto;
        justify-items: center;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(1, minmax(20rem, 1fr));
      
    }

    .jererob {
        width: 20rem;
        height: 8rem;
        background-color: hsl(228, 45%, 44%);
        border-radius: 1rem
    }
    
    .jere {
        width: 20rem;
        height: 12rem;
        margin-bottom: -2.7rem;
        border-radius: 1rem;
        background-color: hsl(235, 46%, 20%);
    }

    .jerepix {
        width: 4.2rem;
        height: 4.2rem;
        margin-top: 1.7rem;
        border: 0.2rem solid white;
        border-radius: 50%;
    }

    h1{
        margin-left: 6rem;
        font-size: 1.5rem;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 300;
    }

    .rep {
        width: 6rem;
        color: hsl(235deg 39.95% 85.25%);
        padding: 0;
        margin: -4rem 0 2.5rem 8rem;
        font-size: 1.2rem;
        font-weight: 500;
        font-family: 'IBM Plex Sans', sans-serif;
        
    }
    
    
    p {
        color: hsl(235, 45%, 61%);
        margin: -5.5rem 4.7rem 1rem;
        font-size: 1rem;
        font-weight: 500;
        font-family: system-oboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .tex{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .tex button{
        background-color: transparent;
        border: transparent;
        padding: 0.6rem 1rem 0;
        font-size: 1.1rem;
        font-family: system-oboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: hsl(235, 45%, 61%);
    
    }
    
    .tracker-option:is(:hover, .active){
        color: white;
        cursor: pointer;
    }
    
    .frame-act {  
        width: 20rem;
        height: 11rem;
        border-radius: 1rem;
        background-color: hsl(15, 100%, 70%);
    }
    
    .frame-act .play {
        background-color: hsl(195, 74%, 62%);
    }
    
    .frame-act.study {
        background-color: hsl(348, 100%, 68%);
    }
    
    .frame-act.social {
        background-color: hsl(264, 64%, 52%);
        margin-top: 0.2rem;
    }
    
    .frame-act.exercise{
        background-color: hsl(145, 58%, 55%);
        margin-top: 0.2rem;
    }
    
    .frame-act.self-care{
        background-color: hsl(43, 84%, 65%);
        margin-top: 0.2rem;
    }
    
    .activity_info {
        position: relative;
        max-width: 20rem;
        height: 8rem;
        margin-top: -2.2rem;
        border-radius: 1rem;
        background-color: hsl(235, 46%, 20%);
    }
    
    .icon {
        z-index: 1;
        width: 5rem;
        height: 5rem;
        padding-left: 11.2rem;
    }
    
    .sv {
        padding: 2rem 1.3rem 0 0;
        fill: white;
        
    }

    .hours {
        font-size: 3rem;
        font-family: sans-serif;
        margin-top: -0.7rem;
        font-family: 'Rubik', sans-serif;
    }

    .previoustime {
        margin-right: 3rem;
        width: 18rem;
        justify-content: right;
        margin-top: -2rem;
    }

    .previous, .time{
        margin: 0.1rem 0.1rem;
        color: white;
        font-size: 0.8rem;
        font-family: 'Rubik', sans-serif
   }
   .attribution {
        position: relative;
        bottom: -78rem;
        font-size: 2rem;
}
   .attribution a {
    text-decoration: none;
    color: gray;
   }

}


